fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
python-multipart
python-jose[cryptography]
passlib
bcrypt==4.0.1
httpx
arq
redis
pdfplumber
weasyprint
jinja2
boto3
python-dotenv
pypdfium2
pillow
email-validator
posthog
posthog